/* General Styles */
body {
    color: black;
    font-family: 'Lexend Deca', sans-serif;
    background-color: #FBF7F4; /* Isabelline */
}

/* Navbar Styles */
.navbar {
    background-color: #EED2CC; /* Pale Dogwood */
}

.navbar .nav-link,
.navbar .navbar-text {
    color: #296b77; /* Teal Blue */
}

.navbar .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.navbar-toggler i {
    font-size: 1.5rem;
    color:  #296b77; /* Teal Blue */
}

/* Footer Styles */
.footer {
    background-color: #EED2CC; /* Pale Dogwood */
    color: #296b77;  /* Teal Blue */
    text-align: center;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    margin: 0.5rem 0;
}

.footer .social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.footer i {
    color:  #296b77; /* Teal Blue */
    font-size: 1.5rem;
}

/*  Blog Css */
.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures uniform size */
}


/* Additional Utility Classes */
.main-bg {
    background-color: #FBF7F4; /* Isabelline */
}
