{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title%}"Sign In / Sign Up"{% endblock head_title %}

{% block content %}
<!-- Hero Section -->
<div
  class="hero"
  style="background-image: url('{% static 'images/login_signup-hero.png' %}')"
>
  <div class="hero-overlay-lsu">
    <h2 class="hero-title-lsu">We would love to hear from you.</h2>
    <p class="hero-subtitle-lsu">
      If you are part of our community and this blog stirs something in your
      spirit—whether it brings feelings of anger, sadness, confusion, or
      hope—please don’t hesitate to reach out. With the Lord’s guidance, I will
      do my best to support and walk alongside you.
    </p>
  </div>
</div>

<h1 class="centered-heading">{% trans "Sign In / Sign Up" %}</h1>

<div class="forms-container">
  <div class="form-container">
    <!-- Login Form -->
    <div class="login-form"
      style="display: {% if login_form %}block{% else %}none{% endif %};">
      <h2>{% trans "Sign In" %}</h2>
      <form method="post">
        {% csrf_token %}

        <label for="{{ login_form.username.id_for_label }}">{% trans "Username" %}</label>
        {{ login_form.username }}
        {% if login_form.username.errors %}
          <small class="error-message">{{ login_form.username.errors.0 }}</small>
        {% endif %}

        <label for="{{ login_form.password.id_for_label }}">{% trans "Password" %}</label>
        {{ login_form.password }}
        {% if login_form.password.errors %}
          <small class="error-message">{{ login_form.password.errors.0 }}</small>
        {% endif %}

        <button type="submit" name="login" class="primaryAction">
          {% trans "Sign In" %}
        </button>
      </form>
    </div>
  </div>

{% if messages %}
  <ul class="messages">
      {% for message in messages %}
          <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
      {% endfor %}
  </ul>
{% endif %}

<!-- Separator Card -->
<div class="lsu-card">
  <div class="card-image">
    <img src="{% static 'images/door-lsu.jpg' %}" alt="Divider Image" class="separator-image" />
  </div>
  <div class="slu-card-body">
    <p class="separator-text">
      To ensure a safe and respectful environment for all our readers,
      signing up is required to participate in commenting on posts. We believe
      that meaningful conversations should be rooted in kindness and
      understanding, especially in a space dedicated to God and Christian
      beliefs. By requiring users to sign up, we can maintain a community that
      values thoughtful discussion and prevents harmful or inappropriate
      comments. This measure is in place to protect the integrity of our space
      and to create a positive, supportive place for everyone.
    </p>
  </div>
</div>

  <div class="form-container">
    <!-- Sign Up Form -->
    <div class="signup-form"
      style="display: {% if signup_form %}block{% else %}none{% endif %};">
      <h2>{% trans "Sign Up" %}</h2>
      <form method="post">
        {% csrf_token %}

        <label for="{{ signup_form.username.id_for_label }}">{% trans "Username" %}</label>
        {{ signup_form.username }}
        {% if signup_form.username.errors %}
          <small class="error-message">{{ signup_form.username.errors.0 }}</small>
        {% endif %}

        <label for="{{ signup_form.email.id_for_label }}">{% trans "Email" %}</label>
        {{ signup_form.email }}
        {% if signup_form.email.errors %}
          <small class="error-message">{{ signup_form.email.errors.0 }}</small>
        {% endif %}

        <label for="{{ signup_form.password1.id_for_label }}">{% trans "Password" %}</label>
        {{ signup_form.password1 }}
        {% if signup_form.password1.errors %}
          <small class="error-message">{{ signup_form.password1.errors.0 }}</small>
        {% endif %}

        <label for="{{ signup_form.password2.id_for_label }}">{% trans "Confirm Password" %}</label>
        {{ signup_form.password2 }}
        {% if signup_form.password2.errors %}
          <small class="error-message">{{ signup_form.password2.errors.0 }}</small>
        {% endif %}

        <button type="submit" name="signup" class="primaryAction">
          {% trans "Sign Up" %}
        </button>
      </form>
      <p>
        {% trans "Already have an account?" %}
        <a href="#login-form" onclick="toggleForms('login')"
          >{% trans "Sign in" %}</a
        >
      </p>
    </div>
  </div>
</div>

<script>
  // Toggle between login and signup forms
  function toggleForms(formType) {
    if (formType === "signup") {
      document.querySelector(".login-form").style.display = "none";
      document.querySelector(".signup-form").style.display = "block";
    } else if (formType === "login") {
      document.querySelector(".signup-form").style.display = "none";
      document.querySelector(".login-form").style.display = "block";
    }
  }
</script>

{% endblock %}
