{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero Section -->
<div class="hero" style="background-image: url('{% static 'images/hero.jpg' %}');">
    <div class="hero-overlay">
        <h1 class="hero-title">Welcome to "A light unto my path"</h1>
        <p class="hero-subtitle">"1 Corinthians 13:13 - “So now faith, hope, and love abide, these three; but the greatest of these is love,"</p>
        <a href="{% url 'blog-home' %}" class="hero-btn">Enter the Blog</a>
    </div>
</div>

{% endblock %}
